<!doctype html>
<html lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta http-equiv="refresh" content="5" /> -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <head>
        {% block head %}
    
    
        <style type="text/css">
            .tg  {border-collapse:collapse;border-spacing:0;}
            .tg td{border-color:black;border-style:solid;border-width:0px;}
            .tg .tg-date{text-align:center;vertical-align:center}
            .tg .tg-object{border-spacing:0px;}
            .tg .tg-fine{border-color:black;border-style:solid;border-width:0px;background-color:black}
            .tg .tg-value{text-align:center;vertical-align:center}
            .tg .tg-name{text-align:center;vertical-align:center}
            .mybutton {font-size:0.8em;border-radius: 8px;}
            tr:nth-child(odd) { background-color: #D6EEEE; }
        </style>

    <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
    
    <script type="text/javascript">
        var my_database = [
        {% for item in presenze %}
            {
                id: "{{item.id}}",
                name: "{{item.name}}",
                pranzo: "{{item.pranzo}}", 
                cena: "{{item.cena}}", 
                dormire: "{{item.dormire}}", 
                macchina: "{{item.macchina}}", 
                patente: "{{item.patente}}", 
                pranzoDef: "{{item.pranzoDefault}}", 
                cenaDef: "{{item.cenaDefault}}", 
                dormireDef: "{{item.dormireDefault}}", 
            },
        {% endfor %}
        ];
        
        $(document).ready(function() {
            reload();
	    setButton();
        });

	function setButton() {
          const buttons = document.getElementsByTagName("button");

          const buttonPressed = e => {
            //console.log(e.target.id);  // Get ID of Clicked Element
            const url = "/update";
            const data = {
                'value' : e.target.id
            };

            const other_params = {
                headers : { "content-type" : "application/json; charset=UTF-8" },
                body: JSON.stringify({data}),
                method : "POST",
                mode : "cors"
            };

            fetch(url, other_params)
                .then(function(response) {
                    if(response.redirected == true) {
                        window.location.reload();
                    }
                    console.log("update response")
                    console.log(response)
                })
                .then(function(data) {
                    console.log("update data")
                    console.log(data)
                })
                .catch(function(error) {
                    console.log("update error")
                });
          }

          for (let button of buttons) {
            button.addEventListener("click", buttonPressed);
          }
	}
        
        function reload() {
          var pranzi = 0;
          var nomiPranzi = [];
          var cene = 0;
          var nomiCena = [];
          var dormire = 0;
          var nomiDormire = [];
          var macchina = 0;
          var nomiMacchina = [];
          const d = new Date();
          
          for (let item2 in my_database) {
             if (my_database[item2].pranzo & 1) {
              pranzi++;
              nomiPranzi += my_database[item2].name + "  ";
            }
                    
            if (my_database[item2].cena & 1) {
              cene++;
              nomiCena += my_database[item2].name + "  ";
            }

            if (my_database[item2].dormire & 1) {
              dormire++;
              nomiDormire += my_database[item2].name + "  ";
            }
            
            if (my_database[item2].macchina & 1) {
              macchina++;
              nomiMacchina += my_database[item2].name + "  ";
            }

            var color;
            var dayofweek;
            for (let i = 0; i < 7; i++) {
                dayofweek = 1 << i;
                /*
                if(item2 == 0) {
                    console.log("date " + date);
                    console.log("dayofweek " + dayofweek);
                    console.log("my_database[" + item2 + "].pranzo " + my_database[item2].pranzo);
                    console.log("my_database[" + item2 + "].pranzo & dayofweek " + (my_database[item2].pranzo & dayofweek));
                }
                */
                
                // PRANZO
            
                color  = "red";
                if (my_database[item2].pranzo & dayofweek) {
                    color = "green";
                }

                
                if(i == 0 && d.getHours() >= 12) {
                    document.getElementById("pranzo-" + i + "-" + my_database[item2].id).disabled = true;
                }
                else
                {
                    document.getElementById("pranzo-" + i + "-" + my_database[item2].id).style.backgroundColor  = color;
                    document.getElementById("pranzo-" + i + "-" + my_database[item2].id).style.color = "white";
                }
                
                // CENA

                color  = "red";
                if (my_database[item2].cena & dayofweek) {
                    color  = "green";
                }

                if(i == 0 && ((d.getHours() >= 18 && d.getMinutes() >= 30) || d.getHours() > 18)) {
                    document.getElementById("cena-" + i + "-" + my_database[item2].id).disabled = true;
                }
                else
                {
                    document.getElementById("cena-" + i + "-" + my_database[item2].id).style.backgroundColor  = color;
                    document.getElementById("cena-" + i + "-" + my_database[item2].id).style.color = "white";
                }
                
                // DORMIRE

                color  = "red";
                if (my_database[item2].dormire & dayofweek) {
                    color  = "green";
                }

                if(i == 0 && ((d.getHours() >= 21 && d.getMinutes() >= 30) || d.getHours() > 21)) {
                    document.getElementById("dormire-" + i + "-" + my_database[item2].id).disabled = true;
                }
                else
                {                    
                    document.getElementById("dormire-" + i + "-" + my_database[item2].id).style.backgroundColor  = color;
                    document.getElementById("dormire-" + i + "-" + my_database[item2].id).style.color = "white";
                }
                
                // MACCHINA
                
                if(my_database[item2].patente == 1) {
                    color  = "red";
                    if (my_database[item2].macchina & dayofweek) {
                        color  = "green";
                    }

                    document.getElementById("macchina-" + i + "-" + my_database[item2].id).style.backgroundColor  = color;
                    document.getElementById("macchina-" + i + "-" + my_database[item2].id).style.color = "white";
                }
                else
                {
                    document.getElementById("macchina-" + i + "-" + my_database[item2].id).style.display  = "none";
                }
            }    
          }
          
          if (pranzi == my_database.length)
            nomiPranzi = "Tutti";
            
          if (cene == my_database.length)
            nomiCena = "Tutti";

          if (dormire == my_database.length)
            nomiDormire = "Tutti";

          if(d.getHours() < 15) {
            document.getElementById('pranzoAll').innerHTML = "Pranzo (" + pranzi + "): " + nomiPranzi;
            document.getElementById('cenaAll').style.visibility = "hidden";
            document.getElementById('dormireAll').style.visibility = "hidden";
          }
          else if (d.getHours() < 21) {
            document.getElementById('pranzoAll').style.visibility = "hidden";
            document.getElementById('cenaAll').innerHTML = "Cena (" + cene + "): " + nomiCena;
            document.getElementById('dormireAll').style.visibility = "hidden";
          }
          else {
            document.getElementById('pranzoAll').style.visibility = "hidden";
            document.getElementById('cenaAll').style.visibility = "hidden";
            document.getElementById('dormireAll').innerHTML = "Dormire (" + dormire + "): " + nomiDormire;
          }
          
          document.getElementById('macchinaAll').innerHTML = "Macchina (" + macchina + "): " + nomiMacchina;

          document.getElementById('today0').innerHTML = d.addDays(0);
          document.getElementById('today1').innerHTML = d.addDays(1);
          document.getElementById('today2').innerHTML = d.addDays(2);
          document.getElementById('today3').innerHTML = d.addDays(3);
          document.getElementById('today4').innerHTML = d.addDays(4);
          document.getElementById('today5').innerHTML = d.addDays(5);
          document.getElementById('today6').innerHTML = d.addDays(6);
        }
        
        Date.prototype.addDays = function(days) {
            //var dayName = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
            var dayName = ['Dom', 'Lun', 'Mar', 'Mer', 'Gio', 'Ven', 'Sab'];
            var date = new Date();
            date.setDate(date.getDate() + days);
            return (("0" + date.getDate()).slice(-2) + "<br>" + dayName[date.getDay()]);
        }
    </script>
    {% endblock %}
    </head>
    <title>PresenzaApp</title>
    <body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
        <a id="num_elements" class="navbar-brand" href="#">
            PresenzaApp - v 2.0
        </a>
        </div>
    </nav>
        <div id="pranzoAll"></div>
        <div id="cenaAll"></div>
        <div id="dormireAll"></div>
        <div id="macchinaAll"></div>
        <table class="tg" width="100%">
            <tbody>
              <tr>
                <th class="tg-date"></th>
                <th class="tg-date" id="today0"></th>
                <th class="tg-date" id="today1"></th>
                <th class="tg-date" id="today2"></th>
                <th class="tg-date" id="today3"></th>
                <th class="tg-date" id="today4"></th>
                <th class="tg-date" id="today5"></th>
                <th class="tg-date" id="today6"></th>
              </tr>
    {% for product in presenze %}
      <tr>
        <td class="tg-name" rowspan="8">{{product.name}}</td>
        <td class="tg-object" colspan="7"></td>
      </tr>
      <tr>
        <td class="tg-value"><button class="mybutton" id="pranzo-0-{{product.id}}">P</button></td>
        <td class="tg-value"><button class="mybutton" id="pranzo-1-{{product.id}}">P</button></td>
        <td class="tg-value"><button class="mybutton" id="pranzo-2-{{product.id}}">P</button></td>
        <td class="tg-value"><button class="mybutton" id="pranzo-3-{{product.id}}">P</button></td>
        <td class="tg-value"><button class="mybutton" id="pranzo-4-{{product.id}}">P</button></td>
        <td class="tg-value"><button class="mybutton" id="pranzo-5-{{product.id}}">P</button></td>
        <td class="tg-value"><button class="mybutton" id="pranzo-6-{{product.id}}">P</button></td>
    </tr>
    <tr>
        <td class="tg-object" colspan="7"></td>
    </tr>
    <tr>
        <td class="tg-value"><button class="mybutton" id="cena-0-{{product.id}}">C</button></td>
        <td class="tg-value"><button class="mybutton" id="cena-1-{{product.id}}">C</button></td>
        <td class="tg-value"><button class="mybutton" id="cena-2-{{product.id}}">C</button></td>
        <td class="tg-value"><button class="mybutton" id="cena-3-{{product.id}}">C</button></td>
        <td class="tg-value"><button class="mybutton" id="cena-4-{{product.id}}">C</button></td>
        <td class="tg-value"><button class="mybutton" id="cena-5-{{product.id}}">C</button></td>
        <td class="tg-value"><button class="mybutton" id="cena-6-{{product.id}}">C</button></td>
    </tr>
    <tr>
        <td class="tg-object" colspan="7"></td>
    </tr>
    <tr>
        <td class="tg-value"><button class="mybutton" id="dormire-0-{{product.id}}">D</button></td>
        <td class="tg-value"><button class="mybutton" id="dormire-1-{{product.id}}">D</button></td>
        <td class="tg-value"><button class="mybutton" id="dormire-2-{{product.id}}">D</button></td>
        <td class="tg-value"><button class="mybutton" id="dormire-3-{{product.id}}">D</button></td>
        <td class="tg-value"><button class="mybutton" id="dormire-4-{{product.id}}">D</button></td>
        <td class="tg-value"><button class="mybutton" id="dormire-5-{{product.id}}">D</button></td>
        <td class="tg-value"><button class="mybutton" id="dormire-6-{{product.id}}">D</button></td>
    </tr>
    <tr>
        <td class="tg-object" colspan="7"></td>
    </tr>
    <tr>
        <td class="tg-value"><button class="mybutton" id="macchina-0-{{product.id}}">M</button></td>
        <td class="tg-value"><button class="mybutton" id="macchina-1-{{product.id}}">M</button></td>
        <td class="tg-value"><button class="mybutton" id="macchina-2-{{product.id}}">M</button></td>
        <td class="tg-value"><button class="mybutton" id="macchina-3-{{product.id}}">M</button></td>
        <td class="tg-value"><button class="mybutton" id="macchina-4-{{product.id}}">M</button></td>
        <td class="tg-value"><button class="mybutton" id="macchina-5-{{product.id}}">M</button></td>
        <td class="tg-value"><button class="mybutton" id="macchina-6-{{product.id}}">M</button></td>
    </tr>
    <tr>
        <td class="tg-fine" colspan="9"></td>
    </tr>
    {% endfor %}
            </tbody>
            </table>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
